@import './variables.less';

:root {
  /* 基色系 */
  --rd-color-red-base: @rd-color-red-base;
  --rd-color-orange-base: @rd-color-orange-base;
  --rd-color-yellow-base: @rd-color-yellow-base;
  --rd-color-green-base: @rd-color-green-base;
  --rd-color-cyan-base: @rd-color-cyan-base;
  --rd-color-blue-base: @rd-color-blue-base;
  --rd-color-purple-base: @rd-color-purple-base;
  --rd-color-gray-base: @rd-color-gray-base;

  /* 红色系 */
  --rd-color-red-0: @rd-color-red-0;
  --rd-color-red-1: @rd-color-red-1;
  --rd-color-red-2: @rd-color-red-2;
  --rd-color-red-3: @rd-color-red-3;
  --rd-color-red-4: @rd-color-red-4;
  --rd-color-red-5: @rd-color-red-5;
  --rd-color-red-6: @rd-color-red-6;

  /* 橙色系 */
  --rd-color-orange-0: @rd-color-orange-0;
  --rd-color-orange-1: @rd-color-orange-1;
  --rd-color-orange-2: @rd-color-orange-2;
  --rd-color-orange-3: @rd-color-orange-3;
  --rd-color-orange-4: @rd-color-orange-4;
  --rd-color-orange-5: @rd-color-orange-5;
  --rd-color-orange-6: @rd-color-orange-6;

  /* 黄色系 */
  --rd-color-yellow-0: @rd-color-yellow-0;
  --rd-color-yellow-1: @rd-color-yellow-1;
  --rd-color-yellow-2: @rd-color-yellow-2;
  --rd-color-yellow-3: @rd-color-yellow-3;
  --rd-color-yellow-4: @rd-color-yellow-4;
  --rd-color-yellow-5: @rd-color-yellow-5;
  --rd-color-yellow-6: @rd-color-yellow-6;

  /* 绿色系 */
  --rd-color-green-0: @rd-color-green-0;
  --rd-color-green-1: @rd-color-green-1;
  --rd-color-green-2: @rd-color-green-2;
  --rd-color-green-3: @rd-color-green-3;
  --rd-color-green-4: @rd-color-green-4;
  --rd-color-green-5: @rd-color-green-5;
  --rd-color-green-6: @rd-color-green-6;

  /* 青色系 */
  --rd-color-cyan-0: @rd-color-cyan-0;
  --rd-color-cyan-1: @rd-color-cyan-1;
  --rd-color-cyan-2: @rd-color-cyan-2;
  --rd-color-cyan-3: @rd-color-cyan-3;
  --rd-color-cyan-4: @rd-color-cyan-4;
  --rd-color-cyan-5: @rd-color-cyan-5;
  --rd-color-cyan-6: @rd-color-cyan-6;

  /* 蓝色系 */
  --rd-color-blue-0: @rd-color-blue-0;
  --rd-color-blue-1: @rd-color-blue-1;
  --rd-color-blue-2: @rd-color-blue-2;
  --rd-color-blue-3: @rd-color-blue-3;
  --rd-color-blue-4: @rd-color-blue-4;
  --rd-color-blue-5: @rd-color-blue-5;
  --rd-color-blue-6: @rd-color-blue-6;

  /* 紫色系 */
  --rd-color-purple-0: @rd-color-purple-0;
  --rd-color-purple-1: @rd-color-purple-1;
  --rd-color-purple-2: @rd-color-purple-2;
  --rd-color-purple-3: @rd-color-purple-3;
  --rd-color-purple-4: @rd-color-purple-4;
  --rd-color-purple-5: @rd-color-purple-5;
  --rd-color-purple-6: @rd-color-purple-6;

  /* 中性灰 */
  --rd-color-gray-0: @rd-color-gray-0;
  --rd-color-gray-1: @rd-color-gray-1;
  --rd-color-gray-2: @rd-color-gray-2;
  --rd-color-gray-3: @rd-color-gray-3;
  --rd-color-gray-4: @rd-color-gray-4;
  --rd-color-gray-5: @rd-color-gray-5;
  --rd-color-gray-6: @rd-color-gray-6;
}
