/* 基色系 */
@rd-color-red-base: #E53E3E;
@rd-color-orange-base: #ED8936;
@rd-color-yellow-base: #D69E2E;
@rd-color-green-base: #38A169;
@rd-color-cyan-base: #319795;
@rd-color-blue-base: #3182CE;
@rd-color-purple-base: #805AD5;
@rd-color-gray-base: #6E6E6E;

/* 红色系 */
@rd-color-red-0: #F6D5D5;
@rd-color-red-1: #ECA7A7;
@rd-color-red-2: #EC6F6F;
@rd-color-red-3: #E53E3E;
@rd-color-red-4: #C91B1B;
@rd-color-red-5: #911414;
@rd-color-red-6: #600606;

/* 橙色系 */
@rd-color-orange-0: #F8E4D3;
@rd-color-orange-1: #F0C6A4;
@rd-color-orange-2: #F2A769;
@rd-color-orange-3: #ED8936;
@rd-color-orange-4: #D16913;
@rd-color-orange-5: #974C0E;
@rd-color-orange-6: #642E02;

/* 黄色系 */
@rd-color-yellow-0: #F4EAD7;
@rd-color-yellow-1: #E6CFA3;
@rd-color-yellow-2: #E1B865;
@rd-color-yellow-3: #D69E2E;
@rd-color-yellow-4: #AD7F22;
@rd-color-yellow-5: #815F19;
@rd-color-yellow-6: #5A400C;

/* 绿色系 */
@rd-color-green-0: #DBF0E5;
@rd-color-green-1: #A2D8BB;
@rd-color-green-2: #61C891;
@rd-color-green-3: #38A169;
@rd-color-green-4: #2E8556;
@rd-color-green-5: #1F6D44;
@rd-color-green-6: #174F31;

/* 青色系 */
@rd-color-cyan-0: #DAF1F0;
@rd-color-cyan-1: #9DD8D7;
@rd-color-cyan-2: #56C8C6;
@rd-color-cyan-3: #319795;
@rd-color-cyan-4: #297E7D;
@rd-color-cyan-5: #1C6B69;
@rd-color-cyan-6: #155150;

/* 蓝色系 */
@rd-color-blue-0: #D8E6F3;
@rd-color-blue-1: #A4C5E3;
@rd-color-blue-2: #68A3DB;
@rd-color-blue-3: #3182CE;
@rd-color-blue-4: #2768A5;
@rd-color-blue-5: #1D4E7C;
@rd-color-blue-6: #0F3457;

/* 紫色系 */
@rd-color-purple-0: #E1D9F2;
@rd-color-purple-1: #C2B1E6;
@rd-color-purple-2: #A083E0;
@rd-color-purple-3: #805AD5;
@rd-color-purple-4: #5B30BC;
@rd-color-purple-5: #412287;
@rd-color-purple-6: #261056;

/* 中性灰 */
@rd-color-gray-0: #E6E6E6;
@rd-color-gray-1: #BEBEBE;
@rd-color-gray-2: #969696;
@rd-color-gray-3: #6E6E6E;
@rd-color-gray-4: #5A5A5A;
@rd-color-gray-5: #474747;
@rd-color-gray-6: #333333;
